@model IEnumerable<EventMgmt.Models.Event>
@using EventMgmt.Models;


@{
    ViewBag.Title = "CreateSponser";
    Layout = "~/Views/Shared/_Layout.cshtml";

    UsersContext db = new UsersContext();
    var dtls = db.events.ToList();

}

<h2>CreatePayout</h2>
@using (Html.BeginForm("CreateOrders", "home", FormMethod.Post, new { enctype = "multipart/Form-Data" }))
{
    <div class="content-page">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h4 class="card-title">Enter Event Details</h4>
                            </div>
                        </div>
                        <div class="card-body">

                            <form>
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationDefault01">ID</label>
                                        <input type="text" class="form-control" name="id" id="validationDefault01" required>
                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="input-group-prepend">
                                            <label for="validationDefault01">EventName</label>
                                        </div>
                                        <select class="custom-select" name="eventid" id="inputGroupSelect01">


                                            <option selected>Choose...</option>
                                            @foreach (var item in dtls)
                                            {
                                                <option value="@item.eventid">@item.title</option>
                                            }
                                        </select>
                                    </div>



                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefaultUsername">Amount</label>
                                        <div class="input-group">

                                            <input type="text" class="form-control" name="email" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationDefault01">Amount</label>
                                        <input type="text" class="form-control" name="amount" id="validationDefault01" required>
                                    </div>


                                    <div class="card-body">

                                        <div class="form-group row align-items-center">
                                            <div class="col-sm-3 col-4">
                                                <label class="col-form-label">PurPose</label>
                                            </div>
                                            <div class="col-sm-9 col-8">
                                                <textarea class="form-control" name="Description" id="horizontalTextarea" rows="3" placeholder="Textarea"></textarea>
                                            </div>
                                        </div>
                                    </div>











                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">SUBMIT</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}












